<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="container">
    <form action="/analyze-webpage" method="post">
        <div class="form-group">
            <label for="web-page-address">Enter Web Page Address</label>
            <input type="text" name="pageURL" class="form-control" id="web-page-address" placeholder="Enter web page url" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>